<div class="container mt-2">
  <h2>Weather List</h2>
  <div class="row">
    <div class="col-sm-6 mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by city"
        [(ngModel)]="searchText"
      />
    </div>
    <div class="col-sm-6 mb-3">
      <button class="btn btn-primary btn-block" (click)="filterWeatherList()">
        Filter
      </button>
    </div>
  </div>
  <button class="btn btn-primary mx-2 my-3" (click)="sortWeatherList('city')">
    Sort By City
  </button>
  <button
    class="btn btn-primary mx-2 my-3"
    (click)="sortWeatherList('temperture')"
  >
    Sort By temperture
  </button>
  
  <div class="row">
    @for(cityweather of filteredWeatherList;track cityweather.id) {
      <div class="col-md-4 mt-3" style="text-decoration: none; cursor: pointer;" (click)="navegatToWeather(cityweather.temperture)">
        <div class="card" [ngClass]="getTemperatureColor(cityweather.temperture)">
          <div class="card-body">
            <h5 class="card-title">{{ cityweather.city }}</h5>
            <p class="card-text">Temperature: {{ cityweather.temperture }} °C</p>
            <!-- Add more weather details here as needed -->
          </div>
        </div>
      </div>
   
    }
  </div>
</div>
